.about{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50vh;
    font-size: 2.5rem;
}

.about-title {
    display: flex;
    height: 25vh;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about-info{
    position: relative;
    display: flex;
}

.info-wrapper {
    width: 50vw;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    gap: 25vh;
}

.info-text-wrapper {
    position: relative;
    margin: auto;
    height: 50vh;
    width: 75%;
     z-index: 0;

}

.info-text {
    margin: auto;
    text-align: justify;
    display: flex;
    background-color: #2E2B2B;
    height: 100%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.info-text span {
    margin: 20px;
}

@property --angle {
  syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.info-text-wrapper::after, .info-text-wrapper::before {
    opacity: 0;
    pointer-events: none;
    transition: opacity 3s;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: conic-gradient(from var(--angle), transparent 70%, #FF00FF);
    z-index: -1;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 5px;
    animation: 3s spin linear infinite;
}

.info-text-wrapper::before{
    filter: blur(12px);
}

.info-text-wrapper.with-effects::before,
.info-text-wrapper.with-effects::after {
    opacity: 1;
    pointer-events: auto;
}

.illustration {
    top: 25vh;
    position: sticky;
    margin: 0 auto;
    width: 50vh;
    height: 50vh;
    border-radius: 10px;
    background-color: #2E2B2B;
}

.illustration img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.illustration img.fade-out {
    opacity: 0;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }

}