.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.return-button{
    height: 3rem;
}

.contact input::placeholder,
textarea::placeholder {
    color: #a8a8a8;
}

.contact input {
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #e2dada;
    color: white;
    margin: 0;
    padding: 0.5rem;
}

.form-wrapper{
    padding: 1rem;
    background: rgb(153, 153, 153, 0.4);
    border-radius: 10px;
    backdrop-filter: blur(12px);
    width: 40vw;
}

form {
    width: 100%;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.form-wrapper p {
    margin: 0;
}

.form-message {
    height: 5rem;
}