.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.return-button{
    height: 3rem;
}

form {
    margin-top: 1rem;
    background-color: #7e7878;
    width: 40vw;
    height: 50vh;
    border-radius: 10px;
}