.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(13, 0, 16, 0.8);
}


.contact input::placeholder,
textarea::placeholder {
    color: #a8a8a8;
}

.contact input, .contact textarea {
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color:   rgba(255, 255, 255, 0.05);
    color: white;
    margin: 0;
    padding: 0.5rem;
}

.form-wrapper{
    padding: 1rem;
    background: rgba(18, 5, 21);
    border-radius: 10px;
    border: 4px solid rgba(255, 255, 255, 0.06);;
    backdrop-filter: blur(12px);
    width: 40vw;
}

form {
    width: 100%;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.form-wrapper p {
    margin: 0;
}

.form-message {
    height: 5rem;
    padding: 0.5rem;
    resize: none;         /* ← zablokuj ręczny resize */
    vertical-align: top;  /* ← tekst od lewej góry */
    font-family: "Mona Sans", sans-serif;
    word-break: break-word;
    white-space: pre-wrap;
}

.send-button {
    background: linear-gradient(135deg, #7c3aed, #db2777);
    border: none;
    color: #fff;
    padding: 12px 32px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
}


.return-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    background-color: #000000;
    border-radius: 10px;
    border: none;
    width: 10rem;
    height: 3rem;
    padding: 0 12px;
    font-family: "Mona Sans", sans-serif;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 8px;
}

.return-button img {
    position: absolute;
    top: 50%;
    right: -50%;
    transform: translate(150%, -50%) scaleX(-1);
    width: 2.5rem;
    height: 2.5rem;
    object-fit: scale-down;
    pointer-events: none;
    transition: transform 0.3s ease;
    filter: invert(1);
}

.return-button h3 {
    color: white;
    font-size: 1.25rem;
    transition: transform 0.3s ease;
    white-space: nowrap;
    pointer-events: none;  
}

.return-button:hover img {
    transform: translate(-50%, -50%) scaleX(-1);  
}

.return-button h3 {
    transition: transform 0.3s ease;
}

.return-button:hover h3 {
    transform: translateX(-150%);
}