.icon-text{
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding-bottom: 0.5rem;
}

.slide {
    display: inline-block;
    flex-direction: column;
    transition: all cubic-bezier(0.71, 0.03, 0.34, 1);
    position: absolute;
    height:100%;
    transform: translateY(0);
    overflow: hidden;
}

.img-wrapper {
    width: 4rem;
    height: 4rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0.25rem;
}

.img-wrapper img {
    width: 3rem;
    height: 3rem;
    border-radius: 4%;
    display: block;
}
.wrapper {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    animation: wordSlider 20s infinite cubic-bezier(0.9, 0.01, 0.3, 0.99);
}

.hero{
    padding: 0px 40px;
    width: 100%;
    position: relative;
    min-height: calc(90vh);
    display: flex;
    justify-content: space-around;
}

.hero p{
    margin: 0 0 0 0;
}

.hero-text{
    align-self: center;
    justify-self: center;
    position: relative;
    font-size: 2.5rem;
}

h1{
    padding: 0;
    margin: 0;
}

.portrait-wrapper {
    margin-top: auto;
    margin-bottom: auto;
    right: 0;
    overflow: hidden;
    position: relative;
}

.portrait {
    border-radius: 5%;
    object-fit: contain;
    width: 500px;
    height: 500px;
}

@keyframes wordSlider {
    0% {
        transform: translateY(0%);
    }
    25% {
        transform: translateY(-25%);
    }
    50% {
        transform: translateY(-50%);
    }
    75% {
        transform: translateY(-75%);
    }
}

@media (min-width: 768px) {
    .icon-text {
        gap: 0.75rem;
    }
}
