@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  color: white;
  background: linear-gradient(0deg, rgb(53, 53, 53) 0%, rgb(0, 0, 0) 83%) no-repeat;
  scroll-behavior: smooth;
  font-family: "Mona Sans", sans-serif;
}

a{
  text-decoration: none;
}
