@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100dvw;
  overflow-x: hidden;
  background: linear-gradient(0deg, rgb(51, 51, 51) 0%, rgb(4, 0, 0) 83%);
  color: white;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
  font-family: "Mona Sans", sans-serif;
}

a{
  text-decoration: none;
}
