.joystick-base {
    position: fixed;
    bottom: 6rem;
    right: 1rem;
    width: 20vw;
    height: 10vw;

    max-width: 30vh;
    max-height: 15vh;

    border-radius: 20vw 20vw 0 0;
    background: rgba(255, 255, 255, 0.04);
    border: 2px solid rgba(255, 255, 255, 0.2);

    display: flex;
    justify-content: center;

    z-index: 999;
    touch-action: none;
    opacity: 0.4;
}

.joystick-knob {
    width: 7.5vw;
    height: 7.5vw;
    max-width: 10vh;
    max-height: 10vh;
    border-radius: 50%;
    background: #db2777;
    border: 2px solid rgba(255, 255, 255, 0.3);
    pointer-events: none;
    transition: transform 0.05s ease;
}
