.particle-wrapper {
    position: relative;  /* normalne pozycjonowanie */
    z-index: 0;          /* na wierzchu Pixi */
}

.particle-container {
    position: fixed;  /* fixed żeby było zawsze na ekranie */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;      /* żeby było pod wszystkim */
    pointer-events: none; /* żeby Pixi nie blokowało interakcji myszką i scroll */
}
